$base-unit: 16px;

$height--show-details: $base-unit * 3;

$bg-color--tour-list-item-1: #FFC600;
$bg-color--tour-list-item-2: #CCECFF;
$bg-color--tour-list-item-3: #FFE5EE;

$color--generic: #1A2B49;
